@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Bebas+Neue&family=Montserrat:wght@100;300;500;600;700&family=Roboto:wght@100&display=swap');
@import 'vlada/stylesheet.css';


.header-nav {
  margin: 57px auto;
  height: 57px;
  max-width: 1200px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(11px);

  align-items: center;
  min-width: 1125px;
  clear: both;
}

.header-nav::after {
  clear: both;
}

header {
  clear: both;
  margin-top: -36px;

  height: 132px;
}


header::after {
  clear: both;
}

.header-nav>* {
  float: left;
  overflow: hidden;
}

.header-nav-logo-link {
  width: 12%;
  min-width: 110px;
  padding-top: 3px;
}

.header-nav-text-link {
  width: 56%;
  min-width: 435px;
  padding-top: 17px;
}

.header-nav-text-link>a {
  font-family: Montserrat;
  text-decoration: none;
  color: #778CA3;
  padding-left: 34px;
  padding-right: 0px;
}

.header-nav-phone {
  padding-left: 70px;
  width: 14%;
  padding-top: 16px;
}

.header-nav-social {
  min-width: 90px;
  width: 8%;
  padding-top: 18px;
}

.header-nav-cart {
  margin-left: -70px;
  width: 10%;
  padding-top: 15px;
}

.header-nav-cart-image {
  float: right;
}

.phone-icon,
.phone-number {
  display: inline;
}

.phone-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  text-decoration: none;
  color: #778CA3;
}

.social-icon {
  padding-right: 10px;
  gap: 5px;
}

.one {
  height: 845px;
  margin-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
  height: 855px;
}

.icon_png {
  margin-left: 18px;
}



nav a:hover {
  font-family: montserrat;
  color: #6a4d67;

}

.phone_n {
  position: absolute;
  padding-left: 0;
  right: 24.1%;
  top: 32.08%;
  bottom: 33.96%;

}



.icon_n {
  padding-left: 275px;
  padding-right: 0px;
  gap: 0;
}



#background {
  color: #FFFF;
}

.home-title {

  font-family: Futura PT, 'Nunito', sans-serif;
  color: #403A3E;
  /* margin-top: 250px; */
  font-size: 87px;
  line-height: 112.82px;
  font-weight: 300;

  text-transform: uppercase;
  font-style: normal;

  width: 478px;
  height: 226px;
}

#hero-msg h1 {}

#hero-msg h4 {

  /* margin-left: 670px; */
  /* margin-top: 255px; */

}

#hero-msg h4 {


  top: -6%;
}

main {
  margin: 0 auto;

}

.button-box {
  /* margin-left: 400px; */
}

#hero-msg {
  min-width: 76%;
  height: 767px;
  display: inline-block;
  gap: 4%;
}

#hero-msg h4 {
  font-family: montserrat;
  color: #778CA3;

  width: 477px;
  height: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.button-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  top: -5%;

  width: 180px;
  height: 50px;

  background: #6A4D67;
  border-radius: 50px;
  text-align: center;
  /* margin-left: 670px; */
  /* margin-top: -35px; */

}

.book {
  padding-left: 60px;
  margin-top: 15px;
  color: #FFFF;
  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;

}

.button-box:hover {
  box-shadow: 0 0 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;

}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 941px;
  height: 787px;
  left: 66.5%;
  top: -76%;
  /* margin-left: 1280px; */
  /* margin-top: -580px; */
  border-radius: 20px 0px 0px 20px;

}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 28px;

}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.m {
  width: 941px;
  height: 787px;
  border-radius: 20px 0 0 20px;
}

element.style {
  padding-left: 1000px;
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



.two {
  position: relative;
  /* margin-top: 100px; */
  margin-top: -510px;
  margin: 0 auto;
  margin-left: 0;
  min-width: 1599px;
  background: rgba(223, 228, 234, 0.21);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 767px;

}


.tkanyna{
  width: 100%;
  background-repeat: no-repeat;
  grid-template-columns: 1;
  background-image: url("//wladarius.github.io/vlada/images/t.png");
  width: 362px;
  height: 846px;
  position: relative;
  top: -393px;
}

.section_2_text {

  width: 100%;
  height: 80px;
  /* margin-left: 460; */
  font-family: 'Futura PT', 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  /* margin-left: 670px; */

  /*top: 1050px; */

  color: #403A3E;

}


/*.tkanyna_1 {
  margin-top: -400px;
  /*margin-left: 300px;*/




.two {
  /* width: 2530px;
  height: 767px;*/


}

.card {

  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  border-radius: 20px;

  border: 1px solid #FFFF;
  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);

}

.card_text{
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4b6584;
}
.card-container {
  grid-column: 1;
}

.board {
  margin: 0 auto;
  position: relative;
  top: 142px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  height: 300px;
}

.board .card:nth-child(3n) {
  background-color: #FFFF;
}

.board .card:nth-child(3n+1) {
  background-color: #FFFF;
}

.board .card:nth-child(3n+2) {
  background-color: #FFFF;
}

.pic {
  position: relative;
  left: 36%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;

}

.pic_s{
  position: relative;
  left: 27%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;

}

.pic_d1{
  position: relative;
  left: 32%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;
  z-index: 1;
}

.pic_d2{
  position: relative;
  left: 14%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;
}


.card:hover {
  border: 1px solid rgba(164, 176, 190, 0.3);
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
}