@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Bebas+Neue&family=Montserrat:wght@100;300;500;600;700&family=Roboto:wght@100&display=swap');
@import '../font/stylesheet.css';
@import '../font2/stylesheet.css';


.header-nav {
  margin: 57px auto;
  height: 57px;
  max-width: 1200px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(11px);

  align-items: center;
  min-width: 1125px;
  clear: both;
}

.header-nav::after {
  clear: both;
}

header {
  clear: both;
  margin-top: -36px;

  height: 132px;
}


header::after {
  clear: both;
}

.header-nav>* {
  float: left;
  overflow: hidden;
}

.header-nav-logo-link {
  width: 12%;
  min-width: 110px;
  padding-top: 3px;
}

.header-nav-text-link {
  width: 56%;
  min-width: 435px;
  padding-top: 17px;
}

.header-nav-text-link>a {
  font-family: Montserrat;
  text-decoration: none;
  color: #778CA3;
  padding-left: 34px;
  padding-right: 0px;
}

.header-nav-phone {
  padding-left: 70px;
  width: 14%;
  padding-top: 16px;
}

.header-nav-social {
  min-width: 90px;
  width: 8%;
  padding-top: 18px;
}

.header-nav-cart {
  margin-left: -70px;
  width: 10%;
  padding-top: 15px;
}

.header-nav-cart-image {
  float: right;
}

.phone-icon,
.phone-number {
  display: inline;
}

.phone-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  text-decoration: none;
  color: #778CA3;
}

.social-icon {
  padding-right: 10px;
  gap: 5px;
}

.one {
  height: 845px;
  margin-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
  height: 855px;
}

.icon_png {
  margin-left: 18px;
}



nav a:hover {
  font-family: montserrat;
  color: #6a4d67;

}

.phone_n {
  position: absolute;
  padding-left: 0;
  right: 24.1%;
  top: 32.08%;
  bottom: 33.96%;

}



.icon_n {
  padding-left: 275px;
  padding-right: 0px;
  gap: 0;
}



#background {
  color: #FFFF;
}

.home-title {

  font-family: Futura PT, 'Nunito', sans-serif;
  color: #403A3E;
  /* margin-top: 250px; */
  font-size: 87px;
  line-height: 112.82px;
  font-weight: 300;

  text-transform: uppercase;
  font-style: normal;

  width: 478px;
  height: 226px;
}

#hero-msg h1 {}

#hero-msg h4 {

  /* margin-left: 670px; */
  /* margin-top: 255px; */

}

#hero-msg h4 {


  top: -6%;
}

main {
  margin: 0 auto;

}

/*.button-box {
  margin-left: 400px; 
} */

#hero-msg {
  min-width: 76%;
  height: 767px;
  display: inline-block;
  gap: 4%;
}

#hero-msg h4 {
  font-family: montserrat;
  color: #778CA3;

  width: 477px;
  height: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.button-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  top: -5%;

  width: 180px;
  height: 50px;

  background: #6A4D67;
  border-radius: 50px;
  text-align: center;
  /* margin-left: 670px; */
  /* margin-top: -35px; */

} 

.book {
  padding-left: 60px;
  margin-top: 15px;
  color: #FFFF;
  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;

}

.button-box:hover {
  box-shadow: 0 0 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;

} 

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 941px;
  height: 787px;
  left: 66.5%;
  top: -76%;
  /* margin-left: 1280px; */
  /* margin-top: -580px; */
  border-radius: 20px 0px 0px 20px;

} 

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 28px;

}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.m {
  width: 941px;
  height: 787px;
  border-radius: 20px 0 0 20px;
}

element.style {
  padding-left: 1000px;
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



.two {
  /* margin-top: 100px; */
  margin-top: -510px;
  margin: 0 auto;
  margin-left: 0;
  min-width: 1599px;
  min-width: 1700px;
  background: rgba(223, 228, 234, 0.21);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 1000px;

}


.tkanyna {
  width: 100%;
  background-repeat: no-repeat;
  grid-template-columns: 1;
  background-image: url("http://wladarius.github.io/vlada/images/t.png");
  height: 846px;
  position: relative;
  top: -393px;
}

.section_2_text {
  padding-top: 493px;
  width: 305px;
  padding-left: 283px;
  height: 80px;
  /* margin-left: 460; */
  font-family: 'Futura PT', 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  /* margin-left: 670px; */

  /*top: 1050px; */

  color: #403A3E;

  position: relative;
  left: 260px;

}


.tkanyna_1 {
  margin-top: -400px;
  margin-left: 300px;

}




.two {
  max-width: 2530px;
  height: 800px;


}

.card_0 {

  width: 310px;
  height: 125px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  border-radius: 20px;

  border: 1px solid #FFFF;
  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);

} 

.card_text {
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4b6584;
} 
/* .card-container {
  grid-column: 1;
} */

@media (max-width: 1000px) {
  .board {
    grid-template-columns: 1fr;
  }
}


.board {
  margin: 0 auto;
  display: grid;
  gap: 50px;
  height: 408px;
  max-width: 1154px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .board .card:nth-child(3n) {
  background-color: #FFFF;
}

.board .card:nth-child(3n+1) {
  background-color: #FFFF;
}

.board .card:nth-child(3n+2) {
  background-color: #FFFF;
} */

.pic {
  position: relative;
  left: 36%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;

}

.pic_s {
  position: relative;
  left: 27%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;

}

.pic_d1 {
  position: relative;
  left: 32%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;
  z-index: 1;
}

.pic_d2 {
  position: relative;
  left: 14%;
  height: 86px;
  width: 100px;
  /* margin-left: 140px; */
  /* margin-top: 20px; */
  border-radius: 0px;
}


.card_0:hover {
  border: 1px solid rgba(164, 176, 190, 0.3);
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
} 




/* section3 */


.three{
  margin: 0 auto;
  position: relative;  

  min-width: 1700px;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* .swiper{
  width: 950px;
  padding-right: 152px;
  padding-left: 22px;
} */

/* .card_3{
  position: relative;
  background: #fff;
  width: 374px;
  height: 502px;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card_3::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius:  20px 20px 0px 0px;
} */

/* .card_3 .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
} */

/* .three .card_3 .image_1{
  width: 374px;
  height: 271px;
  border-radius:  20px 20px 0px 0px;;
  padding: 3px;
  background: #7d2ae8;
}

.three .card_3 .image_1{
  height: 100%;
  width: 374px;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid #fff;
}


.card_3 .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_3 .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}.

.card_3 .media-icons i:hover{
  opacity: 1;
}

.card_3 .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #bbb;
}  */

/* .name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
} */

/* .card_3 .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card_3 .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #fff;
}
*/
.card_3 .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
}


.card{
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
  
}

.card:hover{
  border: 1px solid rgba(106, 77, 103, 0.2);
  background: #FFFFFF;
  border-radius: 20px;
}

.card_3 .button button{
  background: #fff;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
} 
/*
 .button button:hover{
  background: #6616d0;
} 

/* .swiper-pagination{
  position: absolute;
} */

/* .swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7d2ae8;
} */

/* .swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #7d2ae8;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7d2ae8;
} */



/* .swiper, .swiper-container{
  width: 1900px;
  top:100px;
  padding: 0;
  padding-right: 152px;
  padding-left: 22px;
} */


.swiper{
  left: -130px;
  top: 105px;

}
.section3_text1{
  position: relative;
  top: -253px;
  left: 382px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;

  color: #403A3E;

}

.section3_text2{
  position: relative;
  text-decoration: none;;
  top: -229px;
  left: 1263px;
  width: 200px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #6A4D67;
}

.three a:hover{
  font-family: 'Montserrat';
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-shadow: #6A4D67 1px 0px 20px;

}

.s_width{
  width: 1182px;
} 

/* .swiper-horizontal{
  padding-right: 152px;
  padding-left: 22px;
  padding: 142px;
} */
/* .s_padding{
  padding-left: 22px;
  padding-right: 2010px;
} */


.code{
  width: 75px;
  height: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
/* identical to box height */


/* сірий текст */

  color: #8F8F8F;


  position: relative;
  left: 20px;
}

.availability{
  width: 109px;
  height: 17px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */

  text-align: center;
  top: -32px;
  position: relative;
  right: -253px;

/* зелений текст */

  color: #7EB45E;

}

.name{
  width: 334px;
  height: 34px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #4B6584;
}

.description{
  width: 334px;
  height: 34px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #4B6584;
}

.name-description{
  text-align: center;
  min-height: 36px;
  position: relative;
  top: -10px;


}

.prise{
  width: 200px;
  height: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
/* identical to box height */

  text-align: center;

  color: #403A3E;

  margin: 0 auto;
  position: relative;
  top: -17px;
}

.aboutMe{
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;
  gap: 10px;
  
  width: 171px;
  height: 49px;
  
  /* Вишенька */
  
  background: #6A4D67;
  border-radius: 50px;
  color: #fff;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  position: relative;
  left: 10px;

}
.aboutMe:hover{
  box-shadow: 0px 0px 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;
}

.hireMe{
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 50px;
gap: 10px;

width: 171px;
height: 50px;

/* Вишенька */

background: #fff;
color: #6A4D67;
border-radius: 50px;
border-color: #6A4D67;

position: relative;
left: 201px;
top: -48px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
padding: 0px;

position: relative;
left: 190px;
}

.hireMe:hover{
  box-shadow: 0px 0px 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;
}


.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  max-width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
/*section 4----------------------------------------------------------------*/
.four{
  min-width: 1700px;
  height: 653px;
  background: #F8F9FB;
}

.splited{

  transition: 0.3s;
  max-width: 1170px;
  padding: 2px 16px;
  height: 450px;
  margin: 0 auto;
  top: 94px;
  position: relative;;

}

.image_s4{
  width: 682px;
  height: 450px;

  position: relative;
  top: -470px;
  left: 604px;
}

.left{
  background: #778CA3;
  width: 655px;
  height: 450px;
  position: relative;
  top: -20px;
  left: -4%;
  z-index: 1;
  border-radius: 20px 0 0 20px;
}

.section4_text{

  width: 538px;
  height: 195px;


  font-family: 'Bebas Neue Cyrillic';
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 120%;
  /* or 65px */


  color: #FFFFFF;
  padding-top: 103px;
  padding-left: 79px;
}

.button_s4{
  width: 185px;
  height: 50px;



  background: #FFFFFF;
  border-radius: 50px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  position: relative;
  
  top: -20px;

  left: 77px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #6A4D67;

  
}

.button_s4:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(64, 58, 62, 0.25);
  border-radius: 50px;
}

/*-------------------------------------------------------------*/
.five{
  margin: 0 auto;
  height: 767px;
  max-width: 1900px;
  background-color: #fff;
}
/*-------------------------------------------------------------*/
.six{ 
  margin: 0 auto;
  position: relative;
 
  min-width: 1700px;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #F8F9FB;
  background-image: url('https://wladarius.github.io/vlada/images/tkanyna_2.svg');
  background-repeat: no-repeat;
  background-position-x: right;

}

.tkanyna_2{
  
}

.section6_text1{
  position: relative;
  top: -253px;
  left: 382px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;

  color: #403A3E;

}

.section6_text2{
  position: relative;
  text-decoration: none;;
  top: -229px;
  left: 1263px;
  width: 200px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #6A4D67;
}

.six a:hover{
  font-family: 'Montserrat';
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-shadow: #6A4D67 1px 0px 20px;

}

/*--------------------------------------------------------------------------------------*/
.seven{
  height:1000px;
  min-width: 1700px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  background-image: url('https://wladarius.github.io/vlada/images/tkanyna_3.svg');
  background-position: left;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y:top;
}



.portfolio {
  text-align: left;
  padding: 32px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;

color: #403A3E;
left: 600px;
position: relative;
}

.grid-container {
  position: relative;
  left: -513px;
  width: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "post-1 post-1 post-3 post-4"  
                       "post-1 post-1 post-3 post-4";
                       
  grid-template-rows: 380px 380px;
  grid-template-columns: 560px 187px 187px 187px;
  gap: 20px;
}
.post-1 {
  grid-area: post-1;
}
.post-2 {           
  grid-area: post-2;

}
.post-3 {
  grid-area: post-3;

}
.post-4 {           
  grid-area: post-4;

}
.post-5 {
  grid-area: post-5;

}
.post-6 {           
  grid-area: post-6;
}

.n7{
  grid-template-columns: 4;
  position: relative;
  left: 106px;
  top: -115px;
}

.n6{
  position: relative;
  top: -115px;
  height: 181px;
}

.n8{
  position: relative;
  bottom: -87px;
  
  height: 245px;
}

.grid-container img{
  border-radius: 20px;
}

.n10{
  position: relative;
  left: 208px;
  top: -315px;
  
  height: 245px;
}

.n9{
  position: relative;
  left: 582px;
  top: -314px;
  
  height: 245px;
}

.grid-container img:hover{
  opacity: .6;
  transform: scale(1);
  background-color: #fff;
  background-image: url('https://wladarius.github.io/vlada/images/search.svg');
  background-size: auto;
}