@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;500;600;700&family=Roboto:wght@100&display=swap');
@import 'vlada/stylesheet.css';

header{
    margin: 0 auto;
    max-width: 1920px;
    margin-top: 30px;
    height: 1px;
    left: calc(50% - 1920px/2 - 13px);
    top: 40px;
    

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(11px);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 33px;
 

    position: absolute;
    width: 1232px;
    height:53px;
    left: 565;

    top: 0px;
    background-color: #FFFF;


}

.one{
  margin-top: 10px;
}

.logo_png{
    position: absolute;
    left: 371px;

    
    top: 0%;
    bottom:0%;
    width: 100px;
}

.icon_png{
  margin-left: 18px;
}

.nav_1 a{
    font-family: Montserrat;
    text-decoration: none;
    color: #778CA3;
    padding-left: 34px;
    padding-right: 0px;


}

nav a:hover {
  font-family: montserrat;
  color: #6a4d67;

}

.number{
    font-family: Montserrat;
    text-decoration: none;
    color: #778CA3;
    margin-left: -25px;
  }
   
    


.phone_n{
    position:absolute;
    padding-left: 0;
    right:24.1%;
    top: 32.08%;
    bottom: 33.96%;
 
}



.icon_n {
    padding-left: 275px;
    padding-right: 0px;
    gap: 0;
}



.icon{
    gap: 5px;
    margin-left: 1px;
    margin-right: -13px;
}

#background{
    color: #FFFF;
}

.home-title {

   font-family: Futura PT;
   color: #403A3E ;
   margin-top: 250px;
   font-size: 87px;
   line-height: 112.82px;
   font-weight: 300;
  
   text-transform: uppercase;
   font-style: normal;

   width: 477px;
   height: 226px;
}

#hero-msg h1, #hero-msg h4{
    
    margin-left: 670px;
    margin-top: 255px;

}

#hero-msg h4{ 
  margin-top: -60px;
}



.button-box{
    margin-left: 400px;  
}

#hero-msg h4{
    font-family: montserrat;
    color: #778CA3;
    
   width: 477px;
   height: 85px;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
}

.button-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

    width: 180px;
    height: 50px;

    background: #6A4D67;
    border-radius: 50px 0 0 50px;
    text-align: center;
    margin-left: 670px;
    margin-top: -35px;

}

.book{
    padding-left: 60px;
    margin-top: 15px;
    color: #FFFF;
    font-family: Montserrat;
    font-style: normal;
    text-decoration: none;

}

.button-box:hover{
  box-shadow: 0 0 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;

}

/* Slideshow container */
.slideshow-container {
  width: 941px;
  height: 787px;
  position: relative;
  margin-left: 1280px;
  margin-top: -580px;
  border-radius: 20px 0px 0px 20px;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 20px 0px 0px 20px;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 28px;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.m{
  width: 941px;
  height: 787px;
  border-radius: 20px 0 0 20px;
}

element.style{
  padding-left: 1000px;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.two{
  margin-top: 100px;
  background: rgba(223, 228, 234, 0.21);
}



.section_2_text{
  
  width: 246px;
  margin-left: 460;

  
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  margin-left: 670px;
  position: absolute;
  top: 1050px;

  color: #403A3E;

}


.tkanyna_1{
  margin-top: -400px;
  margin-left: 300px; 

 
}

.two{
 /* width: 2530px;
  height: 767px;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}


.card1 {
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 2;
  grid-row: 1;
  border-radius: 20px;
  margin-top: 260px;
  margin-left: -250px;


  


  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}


.card2{
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 2;
  grid-row: 1;
  border-radius: 20px;
  margin-top: -260px;
  margin-left: 250px;

  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}

.card3{
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 3;
  grid-row: 1;
  border-radius: 20px;
  margin-top: -260px;
  margin-left: 750px;

  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}

.card4{
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 3;
  grid-row: 1;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 750px;

  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}

.card5{
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 3;
  grid-row: 1;
  border-radius: 20px;
  margin-top: -270px;
  margin-left: 250px;

  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}

.card6{
  width: 374px;
  height: 194px;
  line-height: 1.5em;
  background-color: #FFFF;
  padding: 35px;
  grid-column: 3;
  grid-row: 1;
  border-radius: 20px;
  margin-top: -270px;
  margin-left: -250px;

  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
}

.pic{
  height: 86px;
  width: 100px;
  margin-left: 140px;
  margin-top: 20px;
  border-radius: 0px;

}

.card1:hover{
  border: 1px solid rgba(164, 176, 190, 0.3);
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 50px;

}
