@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;500;600;700&family=Roboto:wght@100&display=swap');
@import 'vlada/stylesheet.css';

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;§
}

/* Header */
header{
  position: relative;
  width: 100%;
  height: 52px;
  background: rgba( 255, 255, 255, 0.6);
  backdrop-filter: blur(11px);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #FFFF;
}

.logo_png{
  margin-right: 1rem;
  width: 100px;
}

.nav_1 a{
  font-family: Montserrat;
  text-decoration: none;
  color: #778CA3;
  margin-left: 1rem;
}

nav a:hover {
  font-family: montserrat;
  color: #6a4d67;
}

.number{
  font-family: Montserrat;
  text-decoration: none;
  color: #778CA3;
  margin-left: -25px;
}

.phone_n{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon{
  display: flex;
  gap: 5px;
}

/* Hero Section */
#hero-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
  padding: 2rem;
  background-image: url(https://via.placeholder.com/1920x1080);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFF;
}

.home-title {
  font-family: Futura PT;
  color: #403A3E ;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  max-width: 100%;
}

#hero-msg h1, #hero-msg h4{
  margin: 0 auto;
  text-align: center;
}

#hero-msg h4{ 
  margin-top: 1rem;
}

.button-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin-top: 1rem;
  background: #6A4D67;
  border-radius: 50px;
  text-align: center;
}

.book{
  color: #FFFF;
  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;
}

.button-box:hover{
  box-shadow: 0 0 10px rgba(147, 100, 142, 0.58);
  border-radius: 50px;
}

/* Slideshow Section */
.slideshow-container {
  position: relative;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 941px;
  height: 787
}


/* styles for screens larger than 1024px */
@media screen and (min-width: 1024px) {
    /* add your CSS rules here */
  }
  
  /* styles for screens between 768px and 1023px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* add your CSS rules here */
  }
  
  /* styles for screens between 481px and 767px */
  @media screen and (min-width: 481px) and (max-width: 767px) {
    /* add your CSS rules here */
  }
  
  /* styles for screens up to 480px */
  @media screen and (max-width: 480px) {
    /* add your CSS rules here */
  }
  